@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <br />
    <div class="container formcontainerusr">
        <div id="loginregformusr">
            <div id="navtabusr">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Login">Login</a></li>
                    <li><a href="#Register">Register</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div id="Login" class="tab-pane fade in active">
                    <div class="row">
                        @using (Html.BeginForm("ValidateUser", "Login", FormMethod.Post, new { @class = "col-sm-12" }))
                        {
                            <div class="row">
                                <div class="input-field col s12">

                                    <input id="txtEmailId" type="email" name="EmailId" class="validate" required>
                                    <label for="txtEmailId">Enter Mail ID</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="txtPassword" type="password" name="Password" class="validate" required>
                                    <label for="txtPassword">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light blue darken-2" id="loginbtnusr" type="submit" name="action">
                                    Login
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        }
                    </div>
                </div>
                <div id="Register" class="tab-pane fade">
                    <div class="row">
                        @using (Html.BeginForm("RegisterUser", "Login", FormMethod.Post, new { @class = "col-sm-12" }))
                        {
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="registerusername" type="text" name="registerUserName" class="validate" required>
                                    <label for="registerusername">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="registerpwd" type="password" name="registerPassword" class="validate" required>
                                    <label for="registerpwd">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="registeremail" type="email" name="registerEmailId" class="validate" required>
                                    <label for="registeremail">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="registerphoneno" type="tel" name="registerPhoneNumber"  maxlength="10" class="validate" required>
                                    <label for="registerphoneno">Phone Number</label>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light blue darken-2" id="registerbtnusr" type="submit" name="action">
                                    Register
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>


    </div>
    @Html.Raw(ViewData["ValidateUser"])
    <script>
        $(document).ready(function () {

            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
        });

        $("#logoutlink").addClass("hideContent");
    </script>
</body>